<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price Lists</title>
</head>
<body>
<h1>Price List</h1>
<button>Dodaj magazyn</button>
<table>
  <tr><th>Warehouse</th><th>Product</th></tr>
  <tr><td>German Warehouse</td><td>Product 1</td><td><button>Edytuj</button></td><td><button>Usuń</button></td></tr>
  <tr><td>German Warehouse</td><td>Product 2</td><td><button>Edytuj</button></td><td><button>Usuń</button></td></tr>
  <tr><td>German Warehouse 2</td><td>Product 1</td><td><button>Edytuj</button></td><td><button>Usuń</button></td></tr>
  <tr><td>Austria Warehouse</td><td>Product 1</td><td><button>Edytuj</button></td><td><button>Usuń</button></td></tr>
</table>
<h1>Wyszukaj</h1>
<table>
  <tr><th>Produkt</th><th>Kod pocztowy</th><th>Ilość palet</th></tr>
  <tr><th><input type="text"></th><th><input type="text"></th><th><input type="text"></th></tr>
</table>
</body>
</html>